.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
}

.App-content {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-entity {
  background: aquamarine;
  padding: 20px 30px;
  border-radius: 10px;
}
